    <!-- =============== SECTION REGION .//END =============== -->
    </div>  
    <!-- container end.// -->
    
    <!-- ========================= SECTION SUBSCRIBE  ========================= -->
    <section class="section-subscribe padding-y-lg">
    <div class="container">
    
    <p class="pb-2 text-center text-white">Подпишись, Если хочешь получать письма и новости от Electrogroup.kz</p>
    
    <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-6">
    <form class="form-row">
            <div class="col-md-8 col-7">
            <input class="form-control border-0" placeholder="Ваша почта" type="email">
            </div> <!-- col.// -->
            <div class="col-md-4 col-5">
            <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Подписаться </button>
            </div> <!-- col.// -->
    </form>
    <small class="form-text text-white-50"> Ваши данные не будут раскрыты третим лицам. </small>
        </div> <!-- col-md-6.// -->
    </div>
        
    
    </div>
    </section>
    <!-- ========================= SECTION SUBSCRIBE END// ========================= -->
    
    
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Brands</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Bahco</a></li>
                            <li> <a href="#">Irimo</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Компания</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">О Нас</a></li>
                            <li> <a href="#">Карьера</a></li>
                            <li> <a href="#">Связаться</a></li>
                            <li> <a href="#">Условия оферты</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Помощь</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Доставка</a></li>
                            <li> <a href="#">Возврат денег</a></li>
                            <li> <a href="#">Статус заказа</a></li>
                            <li> <a href="#">Пожаловаться</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Профиль</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> Войти </a></li>
                            <li> <a href="#"> Регистрация </a></li>
                            <li> <a href="#"> Настройка Профиля </a></li>
                            <li> <a href="#"> Мои Заказы </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Мы в Сетях</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-linkedin"></i> LinkedIn </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->
    
            <section class="footer-bottom text-center">
            
                    <p class="text-white">Политика Безопасности</p>
                    <p class="text-muted"> &copy 2020 ТОО "Электрогруп", Все права защищены </p>
                    <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->
    
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    
    </body>
    </html>