 <!-- section-header.// -->
 <%- include('header'); %>

<div class="container">
<!-- ========================= SECTION MAIN  ========================= -->
<section class="section-main padding-y">
<main class="card">
	<div class="card-body">

<div class="row">
	<aside class="col-lg col-md-3 flex-lg-grow-0">
		<h6>Популярные Категории</h6>
		<nav class="nav-home-aside">
			<ul class="menu-category">
				<li><a href="/products/cat/Пневматический инструмент и электроинструменты">Пневматический инструменты и электроинструменты</a></li>
				<li><a href="/products/cat/Специальный автомобильный инструмент">Специальные автомобильные инструменты</a></li>
				<li><a href="/products/cat/Ударный инструмент">Ударные инструменты</a></li>
				<li><a href="/products/cat/Экстракторы">Экстракторы</a></li>
				<li><a href="/products/cat/Ножовки">Ножовки</a></li>
				<li><a href="/products/cat/Динамоментрический инструмент">Динамоментрический инструменты</a></li>
				<li><a href="/products/cat/Инструмент для работы с трубами">Инструмент для работы с трубами</a></li>
			</ul>
		</nav>
	</aside> <!-- col.// -->
	<div class="col-md-9 col-xl-9 col-lg-9">

<!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
<div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
    <li data-target="#carousel1_indicator" data-slide-to="1"></li>
    <li data-target="#carousel1_indicator" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="http://electrogroup.kz/"><img src="images/banners/slide1.jpg" alt="First slide"> </a>
    </div>
    <div class="carousel-item">
      <a href="/products/brand/irimo"><img src="images/banners/slide2.jpg" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
		<a href="/products/brand/bahco"><img src="images/banners/slide3.jpg" alt="Third slide"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
<!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->	

	</div> <!-- col.// -->
</div> <!-- row.// -->

	</div> <!-- card-body.// -->
</main> <!-- card.// -->

</section>
<!-- ========================= SECTION MAIN END// ========================= -->






<!-- =============== SECTION 1 =============== -->
<section class="padding-bottom">
	<header class="section-heading heading-line">
		<h4 class="title-section text-uppercase">Категории</h4>
	</header>
	
	<div class="card card-home-category">
	<div class="row no-gutters">
		<div class="col-md-3">
		
		<div class="home-category-banner bg-light-orange">
			<h5 class="title">Bahco - Ведущий производитель индустриальных инструментов.</h5>
			<p>Продукцию под этой маркой разрабатывает и выпускает группа SNA Europe. Первые инструменты Bahco появились в эпоху промышленного переворота в Швеции — в конце XIX века.</p>
			<a href="/products/brand/bahco" class="btn btn-outline-primary rounded-pill">Перейти к товарам Bahco</a>
			<br/>
			<br/>
			<br/>
			<h5 class="title">Irimo - Является флагманом холдинга SNA Europe, входящего в состав Snap-on Incorporated - мирового лидера в производстве ручного инструмента и ленточных пил.</h5>
			<p>Лучший в своём классе инструмент по параметрам эффективности, производительности, качества, удобства использования, эргономики и дизайна

				Проектирование и производство базируется на постулате, что любая работа должна быть выполнена качественно наиболее быстрым и удобным способом</p>
			<a href="/products/brand/irimo" class="btn btn-outline-primary rounded-pill">Перейти к товарам Irimo</a>
		</div>

	
		</div> <!-- col.// -->
		<div class="col-md-9">
	<ul class="row no-gutters bordered-cols">
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Ключи разводные" class="item"> 
		<div class="card-body">
			<h6 class="title">Ключи разводные</h6>
			<img class="img-sm" src="/images/products/d9dabc72842e4c72009b9bb84bbae606.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Отвертки и биты" class="item"> 
		<div class="card-body">
			<h6 class="title">Отвертки и биты</h6>
			<img class="img-sm" src="/images/products/0659374522835e687e8c80b481113f18.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Специальный автомобильный инструмент" class="item"> 
		<div class="card-body">
			<h6 class="title">Специальные автомобильный инструменты</h6>
			<img class="img-sm " src="/images/products/2769c81a758acccd2e7dcc35ed0a7987.png"> 
			
		</div>
	</a>	
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Лучковые пилы" class="item"> 
		<div class="card-body">
			<h6 class="title">Лучковые пилы</h6>
			<img class="img-sm " src="/images/products/596e7f2eef351747df076f6c65fba57c.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Зажимной инструмент" class="item"> 
		<div class="card-body">
			<h6 class="title">Зажимные инструменты</h6>
			<img class="img-sm " src="/images/products/255d47e9fd13435fc2762735939f02ad.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Экстракторы" class="item"> 
		<div class="card-body">
			<h6 class="title">Экстракторы</h6>
			<img class="img-sm " src="/images/products/3771b52f05c9afff0245f24ace843b39.png"> 
			
	
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Напильники и натфили" class="item"> 
		<div class="card-body">
			<h6 class="title">Напильники и натфили</h6>
			<img class="img-sm " src="/images/products/bd75a5a3eb5e872568d9e83101581573.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Иструмент для лесного хозяйства и садоводства" class="item"> 
				<div class="card-body">
					<h6 class="title">Иструменты для лесного хозяйства и садоводства</h6>
					<img class="img-sm " src="/images/products/0811ec182902812c1e6a6d960b68efbf.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Ручные ножовки по металлу" class="item"> 
				<div class="card-body">
					<h6 class="title">Ручные ножовки по металлу</h6>
					<img class="img-sm " src="/images/products/bdb4f7943cf75a9bd3f3da675a82478e.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Ножовки" class="item"> 
				<div class="card-body">
					<h6 class="title">Ножовки</h6>
					<img class="img-sm " src="/images/products/cf6fc91ff68e9de81172316345fcb4f5.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Кольцевые пилы" class="item"> 
				<div class="card-body">
					<h6 class="title">Кольцевые пилы</h6>
					<img class="img-sm " src="/images/products/16a83a6ecc926b3f.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Ножи и ножницы" class="item"> 
				<div class="card-body">
					<h6 class="title">Ножи и ножницы</h6>
					<img class="img-sm " src="/images/products/9b57e4baee1f7b95805310f0b5553227.jpg"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Измерительный инструмент" class="item"> 
				<div class="card-body">
					<h6 class="title">Измерительные инструменты</h6>
					<img class="img-sm " src="/images/products/2fdf82041e7d093288e781c2465423d1.jpg"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Инструмент для работы с трубами" class="item"> 
				<div class="card-body">
					<h6 class="title">Инструменты для работы с трубами</h6>
					<img class="img-sm " src="/images/products/2897540b0801e7382b48e4cd51a99ee7.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Плоскогубцы и кусачки" class="item"> 
				<div class="card-body">
					<h6 class="title">Плоскогубцы и кусачки</h6>
					<img class="img-sm " src="/images/products/a8de801f0e7349e0d700ebe5b0bac9ac.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Пневматический инструмент и электроинструменты" class="item"> 
				<div class="card-body">
					<h6 class="title">Пневматические и электроинструменты</h6>
					<img class="img-sm " src="/images/products/a5a4dc744cf5515e4b27b9027fe4b5d5.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Аксессуары к пневматическому инструменту" class="item"> 
		<div class="card-body">
			<h6 class="title">Аксессуары к пневматическому инструментам</h6>
			<img class="img-sm " src="/images/products/253cc16d08854fdbeb62448c3811116a.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Защитное оборудование и искробезопасный инструмент" class="item"> 
		<div class="card-body">
			<h6 class="title">Защитное оборудование и искробезопасные инструменты</h6>
			<img class="img-sm " src="/images/products/9140d985beefc2b9722c636d9f2d3b8d.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Секаторы и кусторезы" class="item"> 
		<div class="card-body">
			<h6 class="title">Секаторы и кусторезы</h6>
			<img class="img-sm " src="/images/products/2164415eea8ca295fc6c1a9ffd0993b5.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Торцевые головки и принадлежности" class="item"> 
		<div class="card-body">
			<h6 class="title">Торцевые головки и принадлежности</h6>
			<img class="img-sm " src="/images/products/c8e4861c1e1cc1b13962eb42e4b692f5.png"> 
			
		</div>
	</a>	
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Хранение инструмента" class="item"> 
		<div class="card-body">
			<h6 class="title">Хранение инструментов</h6>
			<img class="img-sm " src="/images/products/db367494b1ad586a19266c7fe6606178.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Ударный инструмент" class="item"> 
		<div class="card-body">
			<h6 class="title">Ударные инструменты</h6>
			<img class="img-sm " src="/images/products/1b9bf117bc3157572801551ac665cde7.png"> 
			
	
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
	<a href="/products/cat/Динамоментрический инструмент" class="item"> 
		<div class="card-body">
			<h6 class="title">Динамоментрические инструменты</h6>
			<img class="img-sm " src="/images/products/8aab6e922b66ee6d8e126c724669aeea.png"> 
			
		</div>
	</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Стамески" class="item"> 
				<div class="card-body">
					<h6 class="title">Стамески</h6>
					<img class="img-sm " src="/images/products/cf78ee2497aab8a031aa4b9904fdb188.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Ключи гаечные" class="item"> 
				<div class="card-body">
					<h6 class="title">Ключи гаечные</h6>
					<img class="img-sm " src="/images/products/057b43624fa1beeba2b3bd5c72c13bbf.png"> 
					
				</div>
			</a>
		</li>
		<li class="col-6 col-lg-3 col-md-4">
			<a href="/products/cat/Прочее оборудование" class="item"> 
				<div class="card-body">
					<h6 class="title">Прочее оборудование</h6>
					<img class="img-sm " src="/images/products/5ffb97481dcfe6f19b1397d1934c9517.png"> 
					
				</div>
			</a>
		</li>
			
	</ul>
		</div> <!-- col.// -->
	</div> <!-- row.// -->
	</div> <!-- card.// -->
	</section>
	<!-- =============== SECTION 1 END =============== -->




<!-- =============== SECTION REQUEST =============== -->

<section class="padding-bottom">

<header class="section-heading heading-line">
	<h4 class="title-section text-uppercase">Не нашли что искали?</h4>
</header>

<div class="row">
	<div class="col-md-8">
<div class="card-banner banner-quote overlay-gradient" style="background-image: url('images/banners/banner9.jpg');">
  <div class="card-img-overlay white">
    <h3 class="card-title">Отправьте нам запрос, и мы найдем что Вам надо</h3>
    <p class="card-text" style="max-width: 400px">Легкий способ получить КП</p>
    <a href="http://electrogroup.kz/" class="btn btn-primary rounded-pill">Подробнее</a>
  </div>
</div>
	</div> <!-- col // -->
	<div class="col-md-4">

<div class="card card-body">
	<h4 class="title py-3">Один запрос, выгодное предложение</h4>
	<form>
		<div class="form-group">
			<input class="form-control" name="" placeholder="Что вы ищите?" type="text">
		</div>
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" placeholder="Количество" name="" type="text">
				
				<select class="custom-select form-control">
					<option>Штук</option>
					<option>Литр</option>
					<option>Тон</option>
					<option>Кг</option>
				</select>
			</div>
		</div>
		<div class="form-group text-muted">
			<p>Способ закупа:</p>
			<label class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" value="option1">
			  <div class="form-check-label">Тендер</div>
			</label>
			<label class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" value="option2">
			  <div class="form-check-label">Прямой закуп</div>
			</label>
		</div>
		<div class="form-group">
			<button class="btn btn-warning">Запросить КП</button>
		</div>
	</form>
</div>

	</div> <!-- col // -->
</div> <!-- row // -->
</section>

<!-- =============== SECTION REQUEST .//END =============== -->





<!-- =============== SECTION SERVICES =============== -->
<section  class="padding-bottom">

<header class="section-heading heading-line">
	<h4 class="title-section text-uppercase">Trade services</h4>
</header>

<div class="row">
	<div class="col-md-3 col-sm-6">
		<article class="card card-post">
		  <img src="images/posts/1.jpg" class="card-img-top">
		  <div class="card-body">
		    <h6 class="title">Trade Assurance</h6>
		    <p class="small text-uppercase text-muted">Order protection</p>
		  </div>
		</article> <!-- card.// -->
	</div> <!-- col.// -->
	<div class="col-md-3 col-sm-6">
		<article class="card card-post">
		  <img src="images/posts/2.jpg" class="card-img-top">
		  <div class="card-body">
		    <h6 class="title">Pay anytime</h6>
		    <p class="small text-uppercase text-muted">Finance solution</p>
		  </div>
		</article> <!-- card.// -->
	</div> <!-- col.// -->
	<div class="col-md-3 col-sm-6">
		<article class="card card-post">
		  <img src="images/posts/3.jpg" class="card-img-top">
		  <div class="card-body">
		    <h6 class="title">Inspection solution</h6>
		    <p class="small text-uppercase text-muted">Easy Inspection</p>
		  </div>
		</article> <!-- card.// -->
	</div> <!-- col.// -->
	<div class="col-md-3 col-sm-6">
		<article class="card card-post">
		  <img src="images/posts/4.jpg" class="card-img-top">
		  <div class="card-body">
		    <h6 class="title">Ocean and Air Shipping</h6>
		    <p class="small text-uppercase text-muted">Logistic services</p>
		  </div>
		</article> <!-- card.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->

</section>
<!-- =============== SECTION SERVICES .//END =============== -->

<%- include('footer'); %>